---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('May 03, 2026')}
	heroImage="/Images/HelmetCropped.jpg"
>
	<p>
		Thats me ^
	</p>
	<p id="firstBreak"/>
	<p>
		What? Do you want me to spill my guts already? We just met...
	</p>
	<p id="secondBreak"/>
	<p>
		Weirdo...
	</p>
</Layout>
