---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
// import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="Bibbity's Base" description="Home Page of Bibbity's Blog" />
	</head>
	<body>
		<Header />
		<main>
			<h1>🤠 Howdy, Visitor!</h1>
			<p>
				This will be the official BibbityBobert website, blog and portfolio! 
				This has been a long time coming, but I am bored on a Sunday and thought this would be a great way to get things started. 
			</p>
			<p>
				I probably won't post or do much with this website, but it may just become a sandbox for small ideas I have or as a semi-public diary/shopping list/etc. 
				Really, if you don't know me, you probably won't learn much, and if you do, I probably won't be spilling many secrets here. Maybe. I think. We will see...
			</p>
			<p>
				For now, the only pages I have are the default templated Home page, Blog page, and About page.
			</p>
		</main>
		<Footer />
	</body>
</html>
